<h1>Find Flights</h1>

<%= form_with url: "/flights", method: :get do |f| %>

  <div>
    <%= f.label "Origin" %>
    <%= f.select(:from_airport_id, 
                options_for_select(@airport_options, params[:from_airport_id]), 
                required: true) %>
  </div>

  <div>
    <%= f.label "Destination" %>
    <%= f.select(:to_airport_id, 
                options_for_select(@airport_options, params[:to_airport_id]), 
                required: true ) %>
  </div>

  <div>
    <%= f.label "Passengers" %>
    <%= f.select(:passenger_count, 
                  options_for_select([1, 2, 3, 4], params[:passenger_count]),
                  required: true ) %>
  </div>

  <div>
    <%= f.label "Date" %>
    <%= f.collection_select(:scheduled_on,
                            Flight.select(:scheduled_on).distinct.order(:scheduled_on),
                            :scheduled_on,
                            :scheduled_on) %>
  </div>

  <div>
    <%= f.submit "Show Flights" %>
  </div>

<% end %>

<%= form_with url: "bookings/new/", method: "get" do |f| %>
  <% @available_flights.each do |flight| %>
    <% departure_airport = flight.from_airport.code %>
    <% arrival_airport = flight.to_airport.code %>
    <% selected_date = flight.scheduled_on %>
    <% depart_time = flight.depart_time.strftime("%H:%M") %>
    <% duration = flight.duration %>

    <div>
      <%= radio_button_tag(:flight, flight.id) %>
      Origin: <%= departure_airport %><br>
      Date: <%= selected_date %><br>
      Time: <%= depart_time %><br>
      Duration: <%= duration %> minutes<br>
      Destination: <%= arrival_airport %><br>
    </div>
    <br><br>
  <% end %>

  <%= hidden_field_tag :passenger_count, params[:passenger_count] %>
  <%= f.submit "Continue" %>
<% end %>
