<h1>Find Flights</h1>

<%= form_with url: "/flights", method: :get do |f| %>

  <div>
    <%= f.label "Origin" %>
    <%= f.select(:from_airport_id, 
                options_for_select(@airport_options, params[:from_airport_id]), 
                required: true) %>
  </div>

  <div>
    <%= f.label "Destination" %>
    <%= f.select(:to_airport_id, 
                options_for_select(@airport_options, params[:to_airport_id]), 
                required: true ) %>
  </div>

  <div>
    <%= f.label "Passengers" %>
    <%= f.select(:passenger_count, 
                  options_for_select([1, 2, 3, 4], params[:passenger_count]),
                  required: true ) %>
  </div>

  <div>
    <%= f.label "Date" %>
    <%= f.datetime_local_field :scheduled_on,
                                value: params[:scheduled_on],
                                required: true,
                                placeholder: "dd/mm/yyyy hh:mm:ss" %>
  </div>

  <div>
    <%= f.submit "Show Flights" %>
  </div>

<% end %>